body {
    font-family: Arial, sans-serif;
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #Intentar-boton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: none;
      padding: 3px;
      margin: 3px;
      min-width: 25px;
      text-align: center;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    font-size: 25px;

  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
  #grid{
    text-align: center;
    margin-top: 25px;
  }
  #reintentar{
  display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }